@media(max-width: 1300px) {
  .stairs__wrapper{
    justify-content: center;
  }
  .stairs__item{
    // width: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }
}



@media(max-width: 1250px) {
  .menu__wrapper {
    display: block;
  }
  .header__btn {
    margin: 0 auto;
  }
  .header__menu {
    position: absolute;
    top: 0;
    right: -310px;
    max-width: 310px;
    width: 100%;
    height: 885px;
    background: rgba(59, 59, 59, 0.95);
    padding-top: 40px;
    transition: all .5s;
    padding-bottom: 20px;
    z-index: 10;
  }
  .menu__list {
    padding-left: 60px;
    &+.menu__list {
      margin-left: 0;
      margin-top: 25px;
    }
  }
  .sub-menu{
    display: block;
    padding-top: 10px;
    position: relative;
    top: 0;
    left: -10px;
    margin-bottom: -10px;
    &__list{
          background: rgba(59, 59, 59, 0);
    }
  }
  .menu__arrow::before {
    display: none;
  }
}



@media(max-width: 950px) {
  .main-title{
    font-size: 36px;
    line-height: 45px;
  }
  .header__title{
    max-width: 578px;
    text-align: center;
  }
  .benefits__subtitle{
    font-size: 18px;
    line-height: 22px;
  }
  .benefits__wrapper{
    flex-wrap: wrap;
     justify-content: center;
  }
  .benefits__item{
    max-width: 370px;
    width: 100%;
  }
}




@media(max-width: 800px) {
  .benefits__inner,
  .stairs__inner {
    flex-wrap: wrap;
  }
  .benefits__text,
  .stairs__text{
    margin-bottom: 25px;
    text-align: center;
  }
  .benefits__btn,
  .stairs__btn{
    margin: 0 auto;
    text-align: center;
  }
  .benefits__item{
    margin-bottom: 20px;
  }
  .write__form{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }
  .write__form-box{
    max-width: 500px;
    width: 100%;
    margin-bottom: 28px;
  }
  .write__btn{
    position: inherit;
  }
}



@media(max-width: 650px) {
  .stairs__img{
    width: 250px;
  }
  .stairs__down{
    flex-wrap: wrap;
  }
  .stairs__down-text{
    width: 100%;
  }
  .header__title{
    border-bottom: 1px solid transparent;
  }
}













@media(max-width: 550px) {
  .main__line{
    padding: 12px 30px 15px;
  }
  .price__inner{
    flex-wrap: wrap;
  }
  .price__name{
    width: 100%;
    margin-bottom: 10px;
  }
  .price-money{
    width: 100%;
  }
  .write__inner{
    flex-wrap: wrap;
  }
  .write__item{
    width: 100%;
    justify-content: center;
  }
  .write__social{
    padding: 0;
  }
  .write-phone,
  .write-e-mail{
    // text-align: center;
    // justify-content: center;
    margin: 10px auto;
   max-width: 250px; 
   padding-right: 38px;
   text-align: center;
  }
}





@media(max-width: 500px) {
  .stairs__img{
    display: none;
  }
  .stairs__item{
    flex-wrap: wrap;
    justify-content: center;
  }
  .stairs__down{
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
  }
  .stairs__down-price{
    text-align: center;
    max-width: 320px;
    width: 100%;
  }
  .stairs__down {
    padding-top: 10px;
  }
  .stairs__items-btn{
    margin-bottom: 10px;
  }
  .write__title{
    max-width: 270px;
    padding-top: 20px !important;
    margin-bottom: 0;
  }
  .write__form{
    padding-top: 20px;
    margin-bottom: 0;
  }
}





@media(max-width: 485px) {
  .main-title,
  .title{
    font-size: 28px;
    line-height: 32px;
  }
  .menu__list-btn {
    display: block;
  }
  .header__btn{
    display: none;
  }
  .title{
    margin-bottom: 15px;
    padding: 0 10px;
  }
  .benefits__subtitle,
  .benefits__wrapper {
    margin-bottom: 25px;
  }
  // Временный фикс бага картинки главного экрана. Не растягивалась вниз
  .header, 
  .header-background {
    height: 1050px;
  }
   // Временный фикс бага картинки главного экрана. Не растягивалась вниз

  .price__title{
    margin-bottom: 35px;
    max-width: 240px;
  }
  .stairs__title {
    max-width: 210px;
  }
  .benefits__title {
    max-width: 210px;
  }



}
