 @import 'vars';
 @import 'global';
 @import 'fonts';

 // start header

 .header {
   // max-width: 1920px;
   max-width: 100%;
   min-height: 885px;
   background-image: url(../images/content/header-background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 .header-background {
   background: rgba(59, 59, 59, 0.8);
   min-height: 885px;
 }
 .header__top {
   min-height: 90px;
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .header__logo {
   width: 100px;

   img {
     width: 100px;
     height: 70px;
   }
 }
 .menu__list {
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   &+.menu__list {
     margin-left: 45px;
   }
 }
 .menu__list {
   position: relative;

   &:hover {
     .sub-menu {
       display: block;
     }
   }
 }
 .sub-menu {
   display: none;
   width: 250px;
   position: absolute;
   left: -10px;
   top: 10px;
   padding-top: 10px;
   color: #B5AB9F;
   z-index: 10;
 }
 .sub-menu__list {
   background: rgba(59, 59, 59, 0.95);
   padding: 12px 10px;
   transition: all .3s;
   cursor: pointer;
   &:hover {
     background: rgba(40, 40, 40, 0.8);
     color: $text;
   }
 }
 .sub-menu__list-link {
   width: 100%;
 }
 .menu__list.menu__arrow {
   padding-right: 25px;
   &::before {
     content: "";
     background-image: url(../images/icons/down-arrow.svg);
     width: 24px;
     height: 14px;
     position: absolute;
     top: 3px;
     right: 0;
   }
 }
 .menu__wrapper {
   display: none;
   order: 1;
   cursor: pointer;
   z-index: 11;
 }
 .menu__btn {
   width: 31px;
   &-row1,
   &-row2 {
     margin-bottom: 9px;
   }
   &-row1,
   &-row2,
   &-row3 {
     width: 100%;
     background-color: $blue;
     height: 3px;
     border-radius: 5px;
   }
 }
 .menu__wrapper.openDone {
   .menu__btn-row1 {
     transform: rotate(45deg);
     position: relative;
     top: 5px;
     transition: all .5s ease 0s;
   }
   .menu__btn-row2 {
     display: none;
   }
   .menu__btn-row3 {
     transform: rotate(-45deg);
     position: relative;
     top: -7px;
     transition: all .5s ease 0s;
   }
 }
 .menu__list-btn{
   left: -27px;
   position: relative;
   display: none;
 }
.header__title{
  max-width: 757px;
}
.header__wrapper{
  width: 100%;
  position: relative;
}
.header__container{
  max-width: 590px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.header__text{
  @extend %AnPro-Regular;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 25px;  
  text-align: left;
}
.header__box{
  @extend %AlGrey-Bold;
  font-size: 18px;
  line-height: 25px;
}
.header__list-link{
  padding: 25px 4px 0px 3px;
  border-bottom: 1px solid transparent;
  &:hover{
    border-bottom: 1px solid $blue;
  }
}

// end header
//  start section benefits

.benefits{
  padding: 40px 0;
}
.benefits__title{
  max-width: 220px
}
.benefits__subtitle{
  @extend %AnPro-Regular;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 66px;
}
.benefits__wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.benefits__item{
  width: 100%;
  text-align: center;
}
.benefits__item-img{
  margin: 0 auto;
}
.benefits__item-text{
  @extend %AnPro-Regular;
  font-size: 24px;
  line-height: 24px;
  span{
    font-size: 14px;
    line-height: 14px;
    color: $line;
    display: block;
  }
}
.benefits__inner,
.stairs__inner {
  display: flex;
  justify-content: space-between;
}
.benefits__text,
.stairs__text {
  @extend %AnPro-Regular;
  font-size: 18px;
  line-height: 25px;
  max-width: 980px;
  width: 100%;
  padding-right: 25px;
}
.benefits__btn,
.stairs__btn{
  height: 44px;
  min-width: 243px;
}
//  end section benefits

// start section stairs

.stairs{
  padding: 60px 0;
}
.stairs__title{
  max-width: 210px;
}
.stairs__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stairs__item{
  display: flex;
  justify-content: space-between;
  max-width: 605px;
  margin-bottom: 70px;
}
.stairs__img{
  // background-image: url(../images/content/stairs__item1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 390px;
  height: 250px;
}
.stairs__down{
  display: flex;
  justify-content: space-between;
  padding-right: 37px;
  padding-top: 24px;
  align-items: center;
}
.stairs__down-text{
  @extend %AlGrey-Bold;
  font-size: 18px;
  line-height: 25px;
}
.stairs__down-price{
  @extend %AnPro-Regular;
  font-size: 14px;
  line-height: 14px;
}
.stairs__type-img{
   height: 250px;
   width: 215px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.stairs__items-btn{
  margin-top: 22px;
}

// end section stairs

// start section price

.price{
  padding: 60px 0px 60px;
}

.price__title{
  width: 355px;
}
.price__text{
  @extend %AnPro-Regular;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto 40px;
}
.price__text-down{
  max-width: 860px;
  width: 100%;
}

.price__box{
  margin: 0 auto;
  max-width: 540px;
  width: 100%;
  border-left: 1px solid $line;
  border-right: 1px solid $line;
  margin-bottom: 40px;

}

.price__inner{
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.price__name{
  @extend %AlGrey-Bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  width: 50%;
}
.price-money{
  @extend %AlGrey-Regular;
  width: 50%;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.price__btn__wrapper{
  text-align: center;
}


// end section price



 @import 'media';